@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root
{
  --base00: #1d1f21;
  --base01: #282a2e;
  --base02: #373b41;
  --base03: #969896;
  --base04: #b4b7b4;
  --base05: #c5c8c6;
  --base06: #e0e0e0;
  --base07: #ffffff;
  --base08: #cc6666;
  --base09: #de935f;
  --base0A: #f0c674;
  --base0B: #b5bd68;
  --base0C: #8abeb7;
  --base0D: #81a2be;
  --base0E: #b294bb;
  --base0F: #a3685a;

  
  --tab-selection-background-color: var(--base01) !important;
  --tab-hover-background-color: var(--base02) !important;
  --chrome-background-color: var(--base00) !important;
 /*includes tabstrip background*/
  --chrome-secondary-background-color: var(--base01) !important;
 /*includes toolbar, urlbar*/
  --url-and-searchbar-background-color: var(--base00) !important;
  --chrome-selection-background-color: var(--base02) !important;
  --chrome-nav-bar-controls-border-color: rgba(255, 255, 255, 0.07) !important;
 /*urlbar border*/;
}

.tabbrowser-tab:not([selected="true"]) .tab-content,
toolbarbutton:not([selected="true"])
{
  filter: grayscale(1) !important;
}

.tabbrowser-tab:hover .tab-content,
toolbarbutton:hover
{
  filter: grayscale(0) !important;
}

.tabbrowser-tab[selected="true"] .tab-content
{
  filter: grayscale(0) !important;
}

#TabsToolbar .tabbrowser-tab .tab-line
{
  visibility: hidden;
}

#TabsToolbar .tabbrowser-tab
{
  font-size: 14px !important;
}

#urlbar-container
{
  margin-left: 11px !important;
  font-weight: 300;
}

#urlbar[focused="true"],
  .searchbar-textbox[focused="true"]
{
  border: 1px solid #888888 !important;
  box-shadow: none !important;
}

  /* AUTOCOMPLETE */

	/*Default background & color*/
#PopupAutoCompleteRichResult, .autocomplete-richlistbox
{
  background: var(--base00) !important;
}

.autocomplete-richlistitem
{
  border-radius: 0 0px !important;
}
	/*Selected item*/
.autocomplete-richlistitem:hover, .autocomplete-richlistitem[selected]
{
  background: var(--base02) !important;
  border-radius: 0 0px !important;
  color: #fff !important;
}
	/*Title of autocomplete*/
.ac-title
{
  font-size: 13px;
  font-weight: 400;
  color: #00000 !important;
}

.ac-title[selected]
{
  font-size: 13px;
  font-weight: 400;
  color: #fff !important;
}
	/*URL Color*/
.ac-url-text
{
  color: #616161 !important;
}

.ac-url-text[selected]
{
  color: #616161 !important;
}

.ac-action
{
  color: #999999 !important;
}
	/*From bookmark item*/
.autocomplete-richlistitem[type="bookmark"]
{
  font-weight: bold !important;
  background: var(--base03) !important;
}
	/*Found text what you typed*/
.ac-emphasize-text
{
  border-bottom: 1px solid;
  font-weight: 600 !important;
}
