export NIX_PATH="home-manager=$PWD/vendor/home-manager:nixos-config=$PWD/nixos/hosts/$(hostname):nixpkgs-overlays=$PWD/nixpkgs/overlays.nix:nixpkgs-unstable=$PWD/vendor/nixpkgs-unstable:nixpkgs=$PWD/vendor/nixpkgs"

#vim:ft=sh
