[submodule "vendor/base16-shell"]
    path = vendor/base16-shell
    url = https://github.com/rvolosatovs/base16-shell.git
[submodule "vendor/home-manager"]
    path = vendor/home-manager
    url = https://github.com/rvolosatovs/home-manager.git
[submodule "vendor/nixos-hardware"]
    path = vendor/nixos-hardware
    url = https://github.com/rvolosatovs/nixos-hardware.git
[submodule "vendor/nixpkgs"]
    path = vendor/nixpkgs
    url = https://github.com/rvolosatovs/nixpkgs.git
[submodule "vendor/nixpkgs-unstable"]
    path = vendor/nixpkgs-unstable
    url = https://github.com/rvolosatovs/nixpkgs.git
    branch = nixos-unstable
[submodule "vendor/secrets"]
    path = vendor/secrets
    url = keybase://private/rvolosatovs/secrets
[submodule "vendor/gorandr"]
    path = vendor/gorandr
    url = https://github.com/rvolosatovs/gorandr.git
[submodule "vendor/copier"]
    path = vendor/copier
    url = https://github.com/rvolosatovs/copier.git
[submodule "vendor/hosts"]
	path = vendor/hosts
	url = https://github.com/rvolosatovs/hosts.git
[submodule "vendor/pass"]
	path = vendor/pass
	url = keybase://private/rvolosatovs/pass
[submodule "vendor/docker-jitsi-meet"]
	path = vendor/docker-jitsi-meet
	url = https://github.com/rvolosatovs/docker-jitsi-meet
[submodule "vendor/dumpster"]
	path = vendor/dumpster
	url = https://github.com/rvolosatovs/dumpster.git
[submodule "vendor/qmk_firmware"]
	path = vendor/qmk_firmware
	url = https://github.com/rvolosatovs/qmk_firmware.git
[submodule "vendor/Model01-Firmware"]
	path = vendor/Model01-Firmware
	url = https://github.com/rvolosatovs/Model01-Firmware.git
