*.swp
*.log
*.tmp
*cache*
.zdirs
*zcompdump*
lib.pl
playlist.pl
*private*

*.target.wants
default.target

completion.zsh
key-bindings.zsh

*history*

git/config

nixos/configuration.nix
nixpkgs/home.nix

nvim/autoload/plug.vim
