[submodule "zplug"]
	path = zsh/zplug
	url = https://github.com/zplug/zplug.git
	branch = master
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule "base16"]
	path = base16
	url = https://github.com/chriskempson/base16-shell
[submodule "hosts"]
	path = boxes/hosts
	url = https://github.com/StevenBlack/hosts.git
[submodule "boxes/openvpn"]
	path = boxes/openvpn
	url = https://github.com/Nyr/openvpn-install.git
[submodule "boxes/pimp-my-box"]
	path = boxes/pimp-my-box
	url = https://github.com/pyroscope/pimp-my-box.git
[submodule "vendor/home-manager"]
	path = nixpkgs/home-manager
	url = https://github.com/rycee/home-manager.git
	branch = release-17.09
