name: check
on:
  pull_request:
  push:
    branches:
    - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  check:
    strategy:
      matrix:
        platform:
        - host: macos-latest
        - host: ubuntu-latest
    runs-on: ${{ matrix.platform.host }}
    steps:
    - uses: actions/checkout@v5.0.1
    - uses: ./.github/actions/install-nix
      with: 
        cachixAuthToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Free Disk Space
      if: ${{ runner.os == 'Linux' }}
      uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: false
    - run: nix flake check -L

    # TODO: Build and run a VM, test
